/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

html,
body {
	@extend .basic-style;
}

* {
	font-family: Sans-Serif, 'Open Sans', sans-serif;
}

.primary-text {
	font-family: SerifBold;
	color: crimson;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
	@extend .basic-style;
}
 */
