/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

html,
body {
	@extend .basic-style;
	background-color: #fafafa;
}

* {
	font-family: SansSerif, 'Open Sans', sans-serif;
}

.primary-text {
	font-family: SerifBold;
	color: $primary;
}

h1,
h2 {
	@extend .basic-style;
}
h1 {
	font-family: SerifBold;
	font-size: 4rem;
}

h2 {
	font-size: 2rem;
}

// Mobile

@media (max-width: 500px) {
	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 2rem;
	}
}

// other styles
::-webkit-scrollbar {
	background-color: $matte;
	padding: 1rem;
}

::-webkit-scrollbar-thumb {
	background-color: crimson;
	border-radius: 2px;
	border: 2px solid $matte;
}
