/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

html,
body {
	@extend .basic-style;
	background-color: #fafafa;
}

* {
	font-family: Sans-Serif, 'Open Sans', sans-serif;
}

.primary-text {
	font-family: SerifBold;
	color: $primary;
}
