/* ----------- Serif Fonts ---------- */

@font-face {
	font-family: SerifRegular;
	src: url(./lib/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf);
}

@font-face {
	font-family: SerifBold;
	src: url(./lib/fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf);
}

@font-face {
	font-family: SerifItalic;
	src: url(./lib/fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf);
}
@font-face {
	font-family: SerifBold;
	src: url(./lib/fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf);
}

/* -------- Sans Serif Fonts -------- */

@font-face {
	font-family: SansSerif;
	src: url(./lib/fonts/Poppins/Poppins-Regular.ttf);
}
